{%- liquid
  assign social_icons = false
  if settings.social_twitter_link != blank or settings.social_facebook_link != blank or settings.social_pinterest_link != blank or settings.social_instagram_link != blank or settings.social_tiktok_link != blank or settings.social_tumblr_link != blank or settings.social_snapchat_link != blank or settings.social_youtube_link != blank or settings.social_vimeo_link != blank
    assign social_icons = true
  endif
-%}

{%- if social_icons -%}
  <ul class="list-unstyled list-social" role="list">
    {%- if settings.social_twitter_link != blank -%}
      <li class="list-social__item">
        <a href="{{ settings.social_twitter_link }}" class="link list-social__link">
          <svg aria-hidden="true" focusable="false" class="icon icon-twitter" viewBox="0 0 18 15">
            <path fill="currentColor" d="M17.64 2.6a7.33 7.33 0 01-2.065.564 3.58 3.58 0 001.565-1.972 7.1 7.1 0 01-2.262.86 3.55 3.55 0 00-2.598-1.124 3.558 3.558 0 00-3.555 3.557c0 .28.03.555.086.816a10.073 10.073 0 01-7.33-3.717 3.558 3.558 0 001.1 4.475 3.522 3.522 0 01-1.613-.444v.045c0 1.59 1.123 2.918 2.611 3.218a3.502 3.502 0 01-1.605.062 3.566 3.566 0 003.33 2.47 7.146 7.146 0 01-4.412 1.522 7.24 7.24 0 01-.847-.05 10.012 10.012 0 005.434 1.596c6.518 0 10.078-5.398 10.078-10.078a10.205 10.205 0 00-.01-.46 7.2 7.2 0 001.76-1.83z"/>
          </svg>
          <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
        </a>
      </li>
    {%- endif -%}
    {%- if settings.social_facebook_link != blank -%}
      <li class="list-social__item">
        <a href="{{ settings.social_facebook_link }}" class="link list-social__link">
          <svg aria-hidden="true" focusable="false" class="icon icon-facebook" viewBox="0 0 18 18">
            <path fill="currentColor" d="M16.42.61c.27 0 .5.1.69.28.19.2.28.42.28.7v15.44c0 .27-.1.5-.28.69a.94.94 0 01-.7.28h-4.39v-6.7h2.25l.31-2.65h-2.56v-1.7c0-.4.1-.72.28-.93.18-.2.5-.32 1-.32h1.37V3.35c-.6-.06-1.27-.1-2.01-.1-1.01 0-1.83.3-2.45.9-.62.6-.93 1.44-.93 2.53v1.97H7.04v2.65h2.24V18H.98c-.28 0-.5-.1-.7-.28a.94.94 0 01-.28-.7V1.59c0-.27.1-.5.28-.69a.94.94 0 01.7-.28h15.44z"/>
          </svg>
          <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
        </a>
      </li>
    {%- endif -%}
    {%- if settings.social_pinterest_link != blank -%}
      <li class="list-social__item">
        <a href="{{ settings.social_pinterest_link }}" class="link list-social__link">
          <svg aria-hidden="true" focusable="false" class="icon icon-pinterest" viewBox="0 0 17 18">
            <path fill="currentColor" d="M8.48.58a8.42 8.42 0 015.9 2.45 8.42 8.42 0 011.33 10.08 8.28 8.28 0 01-7.23 4.16 8.5 8.5 0 01-2.37-.32c.42-.68.7-1.29.85-1.8l.59-2.29c.14.28.41.52.8.73.4.2.8.31 1.24.31.87 0 1.65-.25 2.34-.75a4.87 4.87 0 001.6-2.05 7.3 7.3 0 00.56-2.93c0-1.3-.5-2.41-1.49-3.36a5.27 5.27 0 00-3.55-1.33c-.92 0-1.76.16-2.51.49-.75.32-1.39.82-1.89 1.49-.5.66-.78 1.49-.78 2.47 0 .75.14 1.44.43 2.05.28.6.7 1.04 1.26 1.29.08.04.15-.01.2-.12l.44-1.7c.03-.08.03-.13 0-.18a3.22 3.22 0 01-.61-2.13c0-.77.23-1.45.68-2.03a3.14 3.14 0 011.93-1.2c.78-.19 1.54-.28 2.3-.28.95 0 1.69.28 2.23.85.54.56.8 1.28.8 2.18 0 .85-.11 1.64-.32 2.38-.22.74-.56 1.35-1.03 1.81-.47.47-1 .7-1.6.7-.43 0-.8-.13-1.08-.38-.28-.25-.42-.56-.42-.94 0-.2.03-.43.1-.7l.54-2.17c.1-.37.14-.68.14-.93 0-.32-.09-.58-.26-.78a.93.93 0 00-.73-.3c-.57 0-1.02.25-1.34.74-.32.5-.48 1.12-.48 1.88 0 .4.07.77.2 1.12l-.96 4.06c-.1.39-.14.8-.14 1.23 0 .26.01.51.04.75-2.59-.83-4.73-2.8-5.89-5.5a8.31 8.31 0 01-.04-6.4A8.42 8.42 0 018.47.58z"/>
          </svg>
          <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
        </a>
      </li>
    {%- endif -%}
    {%- if settings.social_instagram_link != blank -%}
      <li class="list-social__item">
        <a href="{{ settings.social_instagram_link }}" class="link list-social__link">
          <svg aria-hidden="true" focusable="false" class="icon icon-instagram" viewBox="0 0 18 18">
            <path fill="currentColor" d="M8.77 1.58c2.34 0 2.62.01 3.54.05.86.04 1.32.18 1.63.3.41.16.7.35 1.01.66.3.3.5.6.65 1 .12.32.27.78.3 1.64.05.92.06 1.2.06 3.54s-.01 2.62-.05 3.54a4.79 4.79 0 01-.3 1.63c-.16.41-.35.7-.66 1.01-.3.3-.6.5-1 .65-.32.12-.78.27-1.64.3-.92.05-1.2.06-3.54.06s-2.62-.01-3.54-.05a4.79 4.79 0 01-1.64-.3c-.4-.16-.7-.35-1-.66a2.69 2.69 0 01-.66-1c-.12-.32-.26-.78-.3-1.64-.04-.92-.05-1.2-.05-3.54s0-2.62.05-3.54c.04-.86.18-1.32.3-1.63.16-.41.35-.7.66-1.01.3-.3.6-.5 1-.66.31-.12.77-.26 1.63-.3.93-.04 1.2-.05 3.55-.05zm0-1.58C6.39 0 6.09.01 5.15.05c-.93.04-1.57.2-2.13.4-.57.23-1.06.54-1.55 1.02C1 1.96.7 2.45.46 3.02c-.22.56-.37 1.2-.4 2.13C0 6.1 0 6.4 0 8.77s.01 2.68.05 3.61c.04.94.2 1.57.4 2.13.23.58.54 1.07 1.02 1.56.49.48.98.78 1.55 1.01.56.22 1.2.37 2.13.4.94.05 1.24.06 3.62.06 2.39 0 2.68-.01 3.62-.05.93-.04 1.57-.2 2.13-.41a4.27 4.27 0 001.55-1.01c.49-.49.79-.98 1.01-1.56.22-.55.37-1.19.41-2.13.04-.93.05-1.23.05-3.61 0-2.39 0-2.68-.05-3.62a6.47 6.47 0 00-.4-2.13 4.27 4.27 0 00-1.02-1.55A4.35 4.35 0 0014.52.46a6.43 6.43 0 00-2.13-.41A69 69 0 008.77 0z"/>
            <path fill="currentColor" d="M8.8 4a4.5 4.5 0 100 9 4.5 4.5 0 000-9zm0 7.43a2.92 2.92 0 110-5.85 2.92 2.92 0 010 5.85zM13.43 5a1.05 1.05 0 100-2.1 1.05 1.05 0 000 2.1z"/>
          </svg>
          <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
        </a>
      </li>
    {%- endif -%}
    {%- if settings.social_tiktok_link != blank -%}
      <li class="list-social__item">
        <a href="{{ settings.social_tiktok_link }}" class="link list-social__link">
          <svg aria-hidden="true" focusable="false" class="icon icon-tiktok" viewBox="0 0 16 18">
            <path fill="currentColor" d="M8.02 0H11s-.17 3.82 4.13 4.1v2.95s-2.3.14-4.13-1.26l.03 6.1a5.52 5.52 0 11-5.51-5.52h.77V9.4a2.5 2.5 0 101.76 2.4L8.02 0z"/>
          </svg>
          <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
        </a>
      </li>
    {%- endif -%}
    {%- if settings.social_tumblr_link != blank -%}
      <li class="list-social__item">
        <a href="{{ settings.social_tumblr_link }}" class="link list-social__link">
          <svg aria-hidden="true" focusable="false" class="icon icon-tumblr" viewBox="0 0 11 19">
            <path fill="currentColor" d="M8.13 5.12c-.09.02-.14.1-.13.2v5.1c0 .94-.02 1.6.02 1.87.05.35.17.65.37.85.19.2.42.34.7.39.36.08.82.13 1.4.12.52 0 1.06-.07 1.63-.23v2.08a6.03 6.03 0 01-1.84.58c-.65.14-1.3.2-1.96.19a4.17 4.17 0 01-1.91-.4 3.56 3.56 0 01-1.3-1.03 3.52 3.52 0 01-.63-1.35c-.1-.38-.15-.86-.15-1.47V5.13c0-.1-.08-.18-.18-.18H3.06c-.09 0-.16-.07-.16-.16v-1.4c0-.07.05-.13.12-.15 1.24-.43 1.89-1.2 2.32-2.08.28-.58.48-1.02.83-2.04.02-.04.04-.09.08-.12a.1.1 0 01.09-.01h1.93c.1 0 .18.08.18.18v3.87c0 .1.08.18.18.18h3.2c.1 0 .18.08.18.18v1.57c0 .1-.08.18-.18.18h-3.2"/>
          </svg>
          <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
        </a>
      </li>
    {%- endif -%}
    {%- if settings.social_snapchat_link != blank -%}
      <li class="list-social__item">
        <a href="{{ settings.social_snapchat_link }}" class="link list-social__link">
          <svg aria-hidden="true" focusable="false" class="icon icon-snapchat" viewBox="0 0 20 18">
            <path fill="currentColor" d="M9.99.83a4.77 4.77 0 013.53 1.49 4.36 4.36 0 01.9 2.08c.18.76.19 1.44.19 2.22v.74a4.7 4.7 0 001.47-.7l.8-.4c.5 0 .85.26 1.06.6.18.31.2.75-.07 1.04-.16.17-.41.3-.68.4l-.83.28c-.13.05-.3.08-.42.1.19.46.52.87.93 1.25a6.1 6.1 0 002.39 1.1l.04.02c.36.14.5.47.41.81-.04.16-.1.38-.33.53-.32.2-.62.3-.92.42a3.67 3.67 0 00-.62.3c-.07.05-.12.1-.15.13-.03.05-.05.1-.06.13-.03.09-.03.09-.05.13l-.21.68-.13.42c-.03.08-.1.26-.35.36-.15.05-.36.1-.76.14-.09 0-.25.02-.57.03a.5.5 0 00-.31.13c-.23.23-.4.6-.56.81-.12.16-.25.31-.42.45a3.71 3.71 0 01-3.85.35 5.83 5.83 0 01-.97-.64 2.5 2.5 0 00-.44-.3.73.73 0 00-.5-.03h-.14-.31a6.81 6.81 0 00-.48-.04c-.4-.03-.62-.08-.76-.14-.26-.1-.33-.28-.36-.36l-.12-.42-.22-.68v-.03l-.02-.06a1.22 1.22 0 00-.08-.17c-.03-.04-.08-.08-.14-.13-.1-.07-.26-.13-.44-.21l-.18-.09c-.3-.12-.6-.22-.91-.42a.65.65 0 01-.34-.53c-.1-.34.05-.67.41-.8l.05-.03a6.1 6.1 0 002.38-1.1c.4-.38.74-.8.94-1.26a2.33 2.33 0 01-.43-.1l-.82-.27a1.75 1.75 0 01-.68-.41c-.28-.29-.26-.73-.07-1.04a1.15 1.15 0 011.05-.6c.17 0 .36.06.81.4.36.26.74.48 1.47.7v-.73-.3c0-.52 0-1.16.19-1.93A4.36 4.36 0 016.47 2.3 4.77 4.77 0 019.99.83zm0-1.18A5.95 5.95 0 005.58 1.5 5.5 5.5 0 004.45 4.3c-.2.83-.2 1.52-.2 2.04v.27a4.44 4.44 0 01-.15-.05c-.39-.29-.8-.6-1.25-.61-.44 0-1.27.23-1.75 1.22-.35.72-.14 1.52.46 2.06.3.28.68.48 1.05.62l.7.23-.31.5c-.23.4-.59.75-1.03 1.15a7.17 7.17 0 01-2.88 1.33 1.84 1.84 0 00-1.23 2.08 1.9 1.9 0 00.97 1.3c.41.24.8.38 1.16.5l.15.05c.15.06.28.1.33.14l.02.06a.28.28 0 00.07.1v.02l.16.52c.02.06.06.2.12.37.17.47.51.95 1.32 1.12a6.5 6.5 0 00.91.16c.14 0 .3.02.45.03h.06c.23.13.4.25.6.39.37.26.78.55 1.3.75a4.77 4.77 0 004.99-.45c.23-.2.43-.4.59-.63a3.72 3.72 0 01.27-.34l.38-.03c.4-.02.54-.03.66-.04.2-.02.51-.05.84-.16.81-.17 1.15-.65 1.32-1.12.06-.17.1-.31.12-.37l.16-.52.02-.06a1.4 1.4 0 00.09-.14c.05-.04.18-.08.33-.14l.15-.06c.36-.11.75-.25 1.16-.49a1.9 1.9 0 00.97-1.3c.27-.9-.33-1.82-1.23-2.08a7.17 7.17 0 01-2.88-1.33c-.44-.4-.8-.76-1.03-1.15l-.31-.5.7-.23c.37-.14.75-.34 1.05-.62.6-.54.8-1.34.46-2.06-.48-.99-1.3-1.22-1.75-1.22-.45.01-.86.32-1.25.6l-.15.06v-.27-.3c0-.52 0-1.2-.2-2.04A5.5 5.5 0 0014.4 1.5 5.95 5.95 0 009.99-.35h0z"/>
          </svg>
          <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
        </a>
      </li>
    {%- endif -%}
    {%- if settings.social_youtube_link != blank -%}
      <li class="list-social__item">
        <a href="{{ settings.social_youtube_link }}" class="link list-social__link">
          <svg aria-hidden="true" focusable="false" class="icon icon-youtube" viewBox="0 0 20 20">
            <path fill="currentColor" d="M18.16 5.87c.34 1.309.34 4.08.34 4.08s0 2.771-.34 4.08a2.15 2.15 0 01-1.51 1.51C15.341 16 10 16 10 16s-5.34 0-6.65-.44a2.15 2.15 0 01-1.51-1.51C1.5 12.741 1.5 9.97 1.5 9.97s0-2.771.34-4.08a2.15 2.15 0 011.51-1.51C4.66 4 10 4 10 4s5.34 0 6.65.44a2.15 2.15 0 011.51 1.51zM8.126 12.5l4.437-2.53-4.437-2.53V12.5z"/>
          </svg>
          <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
        </a>
      </li>
    {%- endif -%}
    {%- if settings.social_vimeo_link != blank -%}
      <li class="list-social__item">
        <a href="{{ settings.social_vimeo_link }}" class="link list-social__link">
          <svg aria-hidden="true" focusable="false" class="icon icon-vimeo" viewBox="0 0 19 18">
            <path fill="currentColor" d="M19 5.34c-.08 1.75-1.3 4.14-3.66 7.17C12.9 15.7 10.8 17.3 9 17.3c-1.11 0-2.05-.94-2.82-2.82l-.77-2.57c-.29-.97-.57-1.94-.86-2.9-.32-.96-.66-1.45-1.02-1.45-.08 0-.36.15-.83.47L2 7.34c.53-.43 1.05-.86 1.56-1.3C4.6 5.17 5.42 4.69 6 4.65c1.04-.1 1.68.56 1.92 1.96.26 1.52.44 2.46.54 2.82.3 1.24.63 1.86.99 1.86.28 0 .7-.42 1.26-1.25.56-.84.86-1.47.9-1.91.08-.72-.23-1.08-.9-1.08-.32 0-.65.07-.99.2C10.38 3.67 11.77 2 14.14 2c1.83 0 2.7 1.16 2.61 3.48v-.14z"/>
          </svg>
          <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
        </a>
      </li>
    {%- endif -%}
  </ul>
{%- endif -%}